<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" aria-disabled="true">

<head xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:text="${title}"></a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
    	<div class="col-lg-12">
	        <div class="panel panel-default" th:each="group : ${groups}">
	            <div class="panel-heading" th:text="${'Group: ' + group.getGroupId()}"/>
	            <div class="panel-body">

	                <div class="panel panel-default" style="float:left; width: 40vh; margin: 1vh;"
	                     th:each="artifact : ${group.getArtifacts()}">
	                    <div class="panel-heading" th:text="${'Artifact: ' + artifact.getArtifactId()}"/>
	                    <div class="panel-body" style="height: 25vh; overflow-y: auto; ">
	                        <div class="table-responsive">
	                            <table class="table table-bordered">
	                                <tbody>
	                                <tr th:each="version : ${artifact.getVersions()}">
	                                    <td>
	                                        <small>
	                                            <a class="link"
	                                               th:href="@{/doc/groupId/{groupId}/artifactId/{artifactId}/version/{version}/get(groupId=${version.getGroupId()}, artifactId=${version.getArtifactId()}, version=${version.getVersion()})}"
	                                               th:text="${version.getVersion()}"/>
	                                            <a class="link"
	                                               th:if="${version.getPdfFile()} != null"
	                                               th:href="@{/doc/groupId/{groupId}/artifactId/{artifactId}/version/{version}/get-pdf(groupId=${version.getGroupId()}, artifactId=${version.getArtifactId()}, version=${version.getVersion()})}"
	                                               >(PDF)</a>
	                                        </small>
	                                    </td>
	                                </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
</body>
</html>
